/* 
colors
    dark blue rgb(0, 0, 128)
    medium blue rgb(0, 0, 255)
    light blue rgb(128, 128, 255)
*/

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

img {
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

#desertBotanical {
    filter: grayscale(100%);
}

#OrpheumTheater {
    filter: blur(5px);
}

#TaliesinWest {
    filter: hue-rotate(90deg);
}

#ScottsdaleFountain {
    filter: sepia(100%);
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}