/* 
colors
    dark blue rgb(0, 0, 128)
    medium blue rgb(0, 0, 255)
    light blue rgb(128, 128, 255)
*/

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

div {
    display: inline;
    margin: auto;
}

#desertBotanical {
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

#OrpheumTheater {
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

#TaliesinWest {
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

#ScottsdaleFountain {
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}