* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

nav ul {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    padding: .25rem .25rem;
}

nav a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 218, 188);
  }

#ADLheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#WhyChoose {
    margin-left: 20px;
}

#coffee {
    margin-right: 50px;
    margin-left: 650px;
    width: 125px;
    height: 125px;
    object-fit: contain;
}

.HomeDogs {
    display: inline;
    object-fit: contain;
    width: 400px;
    height: 400px;
}

.HomePhotos {
    text-align: center;
}

.intro {
    display: block;
    width: 900px;
    margin-left: 50px;
    text-align: left;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#SAPheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.SAPdescription {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    width: 600px;
}

.TableTitle {
    text-align: center;
    font-size: medium;
    text-transform: lowercase;
}

tr, td, th {
    border: 1px solid rgb(97, 97, 97);
    padding: 2px;
}

.SAProw {
    text-align: center;
}

.table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 2px;
    border-collapse: collapse;
    width: 800px;
    background-color: rgb(250, 243, 239)
}

.tableFoot {
    text-align: center;
    font-size: 10px;
}

.breeds {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.pinkRows {
    background-color: rgb(248, 229, 229);
}

#groomingHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.groomingDescription {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    width: 600px;
}

.table2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 2px;
    border-collapse: collapse;
    width: 800px;
}

.groomingTitle {
    text-align: center;
    font-size: medium;
    text-transform: lowercase;
    background-color: black;
    color: white;
}

.groomingPix {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.groomingInfo {
    text-align: center;
}

#contactHeader {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.contactDescription {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.email {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

.map1 {
    display: block;
    text-align: center;
    padding: 25px;
}

.map2 {
    display: block;
    text-align: center;
    padding: 25px;
}

.address{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 25px;
}

footer {
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-size: .75rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100vw;
}